html {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-decoration: underline wavy;
}

#testheader {
    color: hotpink;
}

#main-image {
    width: 35%;
    border: 0.5em solid;
    border-color: blueviolet;
    border-radius: 1em;
    margin-bottom: 10px;
}

.info {
    color: green;
}

.info > h3 {
    color: red;
    margin-bottom: 0px;
    margin-top: 0px;
}

.info > p {
    margin-top: 1px;
    margin-bottom: 20px;
}

a {
    color: goldenrod;
}

a:hover {
    color: green;
}